ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 24px; 
}

.gallery-image {
    transition-property: transform;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .gallery-image,
.gallery-link:focus .gallery-image{
    transform: scale(1.05);
}

